// Import fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@700&family=Montserrat:wght@300;500;600;700&display=swap');

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Cousine', sans-serif;

// Font weights
.text- {
    &regular {
        font-weight: 300;
    }
    &medium {
        font-weight: 500;
    }
    &semibold {
        font-weight: 600;
    }
    &bold {
        font-weight: 700;
    }
}

// Font sizes
h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
}

h1 {
    font-size: 45px;
    line-height: 50px;

    @media #{$medium} {
        font-size: 65px;
        line-height: 70px;
    }
}
h2 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;

    @media #{$medium} {
        font-size: 45px;
        line-height: 50px;
    }
}
h3 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}
p {
    font-size: 16px;
    line-height: 20px;

    @media #{$medium} {
        font-size: 20px;
        line-height: 25px;
    }
}
a {
    position: relative;
    display: inline-block;
    color: $blue;
    text-decoration: none;
    @include auto-prefix(transition, all $duration $ease);
    font-size: 16px;
    line-height: 20px;

    @media #{$medium} {
        font-size: 20px;
        line-height: 25px;
    }

    &:hover,
    &:active,
    &:focus {
        color: mix($white, $blue, 20%);
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        @include auto-prefix(border-radius, 100px);
    }

    &.text-white {
        color: $white;

        &:after {
            background-color: $white;
        }

        &:hover,
        &:active,
        &:focus {
            color: $blue;
            &:after {
                background-color: $blue;
            }
        }
    }
}

// Text color
@each $color, $i in $colors {
    .text-#{$color} {
        color: $i;
    }
}

// Text align
$alignments: left, center, right;
@each $alignment in $alignments {
    .text-#{$alignment} {
        text-align: $alignment;
    }
    @media #{$small} {
        .text-sm-#{$alignment} {
            text-align: $alignment !important;
        }
    }
    @media #{$medium} {
        .text-md-#{$alignment} {
            text-align: $alignment !important;
        }
    }
    @media #{$large} {
        .text-lg-#{$alignment} {
            text-align: $alignment !important;
        }
    }
    @media #{$xlarge} {
        .text-xl-#{$alignment} {
            text-align: $alignment !important;
        }
    }
}

// Tag text
.tag {
    font-family: $font-secondary;
    font-size: 20px;
    position: relative;
}
