// gutter
$gutter: calc(25px / 2);

// breakpoints
$small: '(max-width: 767px)';
$phone-landscape: '(min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)';
$medium: '(min-width: 768px)';
$medium-portrait: '(min-width: 768px) and (orientation: portrait)';
$large: '(min-width: 1024px)';
$large-portrait: '(min-width: 1024px) and (orientation: portrait)';
$xlarge: '(min-width: 1200px)';

// Animation and Easing
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;

$duration: 0.2s;
$ease: $animation-curve-fast-out-slow-in;

// Colors
$blue: #1062f0;
$green: #21cf97;
$pink: #e01170;
$black: #000;
$white: #fff;
$dark-1: #091523;
$dark-2: #0e253f;

$colors: (
    'blue': $blue,
    'green': $green,
    'pink': $pink,
    'dark-1': $dark-1,
    'dark-2': $dark-2,
    'black': $black,
    'white': $white,
);

// Icon list
$icons: (
    'close':
        '<svg width="52" height="52" viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg"><rect x="35.7667" y="10.1761" width="6.70194" height="36.1905" transform="rotate(45 35.7667 10.1761)"/><rect x="41.1282" y="35.6434" width="6.70194" height="36.1905" transform="rotate(135 41.1282 35.6434)"/></svg>',
    'menu':
        '<svg width="37" height="28" viewBox="0 0 37 28" xmlns="http://www.w3.org/2000/svg"><rect width="26.7826" height="3.65217" rx="1"/><rect y="12.1739" width="36.5217" height="3.65217" rx="1"/><rect y="24.3478" width="24.3478" height="3.65217" rx="1"/></svg>',
);
