.button,
button {
    width: 100%;
    padding: 20px 30px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid $white;
    color: $white;
    @include auto-prefix(border-radius, 300px);
    @include auto-prefix(transition, all $duration $ease);
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
        background: $blue;
        border: 1px solid $blue;
    }

    @media #{$medium} {
        width: auto;
    }

    &.is-black {
        border: 1px solid $black;

        &:active,
        &:focus,
        &:hover {
            background: $blue;
            border: 1px solid $blue;
        }
    }
}
