footer,
.footer {
    width: 100%;
    background-color: $black;
    padding: 22px 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img,
    svg {
        height: 60px;
        width: auto;
        position: relative;
    }
}
