.site-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: auto;
        height: 40px;
    }

    .menu-open {
        width: 36px;
        height: 36px;
        position: relative;
        background: url('assets/images/icon-menu.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
    }

    .main-navigation {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0;
        padding: 20px;
        padding-top: 80px;
        background-color: $black;
        z-index: 99;
        display: none;
        @include auto-prefix(transition, all $duration $ease);

        @media #{$medium} {
            width: auto;
            height: auto;
            position: absolute;
            top: -20px;
            padding: 80px 60px 20px 20px;
        }

        &.open {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include auto-prefix(opacity, 0);

            @media #{$medium} {
                display: block;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }

        &.fade {
            @include auto-prefix(opacity, 1);
        }

        .menu-close {
            width: 36px;
            height: 36px;
            position: absolute;
            top: 30px;
            right: 20px;
            @include auto-prefix(transition, all $duration $ease);
            @include auto-prefix(transform, rotate(0deg));
            background: url('assets/images/icon-close.svg');
            background-position: center;
            background-size: unset;
            background-repeat: no-repeat;
            cursor: pointer;

            @media #{$medium} {
                top: 20px;
            }

            &:active,
            &:hover,
            &:focus {
                @include auto-prefix(transform, rotate(-90deg));
            }
        }

        ul.menu {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            @media #{$medium} {
                justify-content: flex-start;
                align-items: flex-start;
            }

            li {
                padding: 0;
                margin-bottom: 40px;

                &:last-child,
                &:only-child,
                &:last-of-type {
                    margin-bottom: 0;
                }

                a {
                    color: $white;
                    font-size: 40px;
                    line-height: 45px;
                    font-weight: 500;

                    @media #{$medium} {
                        font-size: 20px;
                        line-height: 25px;
                    }

                    &:hover,
                    &:active,
                    &:focus {
                        color: $pink;
                    }
                }
            }
        }
    }
}
