// Box sizing
*,
*:after {
    box-sizing: border-box !important;
}

// Skip link
.skip-link {
    position: absolute;
    top: 0;
    z-index: 9999;
    right: 100%;
    padding: 5px;
    font-size: 20px;
    color: #000;
    background: #fff;
}

.admin-bar .skip-link {
    top: 32px;
}

.skip-link:focus {
    right: auto;
}

// Generic body
body {
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 300;
}

section {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;

    &#hero {
        min-height: 100vh;
        @include gradient-bg(to bottom, $dark-1, $dark-2);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .hero-image {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: -40px;
            z-index: 0;

            @media #{$large} {
                width: auto;
                height: 120%;
                right: -180px;
                bottom: -100px;
            }
            @media #{$xlarge} {
                right: 20px;
            }
        }

        .text {
            position: relative;
            z-index: 1;
        }
    }

    &#cta {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;

        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $black;
            @include auto-prefix(opacity, 0.4);
            @include auto-prefix(mix-blend-mode, multiply);
            z-index: 1;
        }

        .content {
            position: relative;
            z-index: 2;
        }
    }

    &#not-found-404 {
        height: 100vh;
        @include gradient-bg(to bottom, $dark-1, $dark-2);

        h1 {
            font-size: 150px;
            line-height: 1em;

            @media #{$medium} {
                font-size: 200px;
            }
        }
    }

    &#page-header {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        @include gradient-bg(to bottom, $dark-1, $dark-2);
    }
}

// Generic image
img {
    max-width: 100%;
}

// Main navigation
.main-navigation {
    //
}
