$directions: ('up', 'left', 'right');
$offset: 40px;
.animate {
    @include auto-prefix(opacity, 0);
    @include auto-prefix(transition, all 0.5s $ease);

    @each $dir in $directions {
        &[data-anim-direction='#{$dir}'] {
            @if $dir == 'up' {
                @include auto-prefix(transform, translateY($offset));
            } @else if $dir == 'left' {
                @include auto-prefix(transform, translateX($offset));
            } @else {
                @include auto-prefix(transform, translateX(-$offset));
            }

            &.move {
                @include auto-prefix(opacity, 1);
                @include auto-prefix(transform, translate(0));
            }
        }
    }
}
