$cols: 12;

// Container
.container {
    // padding-right: $gutter;
    // padding-left: $gutter;
    margin-right: auto;
    margin-left: auto;
    width: 100vw;

    @media #{$medium} {
        width: 728px;
    }
    @media #{$large} {
        width: 970px;
    }
    @media #{$xlarge} {
        width: 1170px;
    }

    // Full container
    &-full {
        width: 100vw;
    }
}

// Row
.row {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
}

// Columns
*[class^='col-'] {
    padding: 0 $gutter;
    position: relative;

    // Flex row
    &.flex {
        &-row {
            display: flex;
            flex-direction: row;
        }
        &-col {
            display: flex;
            flex-direction: column;
        }
    }

    // Justify content
    &.justify {
        &-start {
            justify-content: flex-start;
        }
        &-center {
            justify-content: center;
        }
        &-end {
            justify-content: flex-end;
        }
    }

    // Align items
    &.align-items {
        &-start {
            align-items: flex-start;
        }
        &-center {
            align-items: center;
        }
        &-end {
            align-items: flex-end;
        }
    }
}
// Default
@for $i from 0 through $cols {
    .col-#{$i} {
        flex: 0 0 percentage($i / $cols);
        max-width: percentage($i / $cols);
    }
    .offset-#{$i} {
        margin-left: percentage($i / $cols);
    }
    .order-#{$i} {
        order: $i;
    }
}

// Medium
@for $i from 0 through $cols {
    @media #{$medium} {
        .col-md-#{$i} {
            flex: 0 0 percentage($i / $cols) !important;
            max-width: percentage($i / $cols) !important;
        }
        .offset-md-#{$i} {
            margin-left: percentage($i / $cols) !important;
        }
        .order-md-#{$i} {
            order: $i !important;
        }
    }
}

// Large
@for $i from 0 through $cols {
    @media #{$large} {
        .col-lg-#{$i} {
            flex: 0 0 percentage($i / $cols) !important;
            max-width: percentage($i / $cols) !important;
        }
        .offset-lg-#{$i} {
            margin-left: percentage($i / $cols) !important;
        }
        .order-lg-#{$i} {
            order: $i !important;
        }
    }
}

// Xlarge
@for $i from 0 through $cols {
    @media #{$xlarge} {
        .col-xl-#{$i} {
            flex: 0 0 percentage($i / $cols) !important;
            max-width: percentage($i / $cols) !important;
        }
        .offset-xl-#{$i} {
            margin-left: percentage($i / $cols) !important;
        }
        .order-xl-#{$i} {
            order: $i !important;
        }
    }
}
