// Backlground colours
@each $color, $i in $colors {
    .bg-#{$color} {
        background-color: $i;
    }
}

// Display
$displays: none, block, flex, inline-block, inline-flex;
$flex-positions: flex-start, flex-end, space-between, space-evenly, space-around,
    center;
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
@each $flex-position in $flex-positions {
    .justify-#{$flex-position} {
        justify-content: $flex-position;
    }
}
@each $flex-position in $flex-positions {
    .align-items-#{$flex-position} {
        align-items: $flex-position;
    }
}
@each $display in $displays {
    .d-#{$display} {
        display: $display;
    }
    @media #{$small} {
        .d-sm-#{$display} {
            display: $display;
        }
    }
    @media #{$medium} {
        .d-md-#{$display} {
            display: $display;
        }
    }
    @media #{$large} {
        .d-lg-#{$display} {
            display: $display;
        }
    }
    @media #{$xlarge} {
        .d-xl-#{$display} {
            display: $display;
        }
    }
}
