/* Padding */
// Default
@for $i from 0 through 1000 {
    .p-#{$i} {
        padding: #{$i}px;
    }
    .px-#{$i} {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
    }
    .py-#{$i} {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
    }
    .pt-#{$i} {
        padding-top: #{$i}px;
    }
    .pr-#{$i} {
        padding-right: #{$i}px;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }
    .pl-#{$i} {
        padding-left: #{$i}px;
    }
}

// Small
@for $i from 0 through 1000 {
    @media #{$small} {
        .p-sm-#{$i} {
            padding: #{$i}px !important;
        }
        .px-sm-#{$i} {
            padding-left: #{$i}px !important;
            padding-right: #{$i}px !important;
        }
        .py-sm-#{$i} {
            padding-top: #{$i}px !important;
            padding-bottom: #{$i}px !important;
        }
        .pt-sm-#{$i} {
            padding-top: #{$i}px !important;
        }
        .pr-sm-#{$i} {
            padding-right: #{$i}px !important;
        }
        .pb-sm-#{$i} {
            padding-bottom: #{$i}px !important;
        }
        .pl-sm-#{$i} {
            padding-left: #{$i}px !important;
        }
    }
}

// Medium
@for $i from 0 through 1000 {
    @media #{$medium} {
        .p-md-#{$i} {
            padding: #{$i}px !important;
        }
        .px-md-#{$i} {
            padding-left: #{$i}px !important;
            padding-right: #{$i}px !important;
        }
        .py-md-#{$i} {
            padding-top: #{$i}px !important;
            padding-bottom: #{$i}px !important;
        }
        .pt-md-#{$i} {
            padding-top: #{$i}px !important;
        }
        .pr-md-#{$i} {
            padding-right: #{$i}px !important;
        }
        .pb-md-#{$i} {
            padding-bottom: #{$i}px !important;
        }
        .pl-md-#{$i} {
            padding-left: #{$i}px !important;
        }
    }
}

// Large
@for $i from 0 through 1000 {
    @media #{$large} {
        .p-lg-#{$i} {
            padding: #{$i}px !important;
        }
        .px-lg-#{$i} {
            padding-left: #{$i}px !important;
            padding-right: #{$i}px !important;
        }
        .py-lg-#{$i} {
            padding-top: #{$i}px !important;
            padding-bottom: #{$i}px !important;
        }
        .pt-lg-#{$i} {
            padding-top: #{$i}px !important;
        }
        .pr-lg-#{$i} {
            padding-right: #{$i}px !important;
        }
        .pb-lg-#{$i} {
            padding-bottom: #{$i}px !important;
        }
        .pl-lg-#{$i} {
            padding-left: #{$i}px !important;
        }
    }
}

// Xlarge
@for $i from 0 through 1000 {
    @media #{$xlarge} {
        .p-xl-#{$i} {
            padding: #{$i}px !important;
        }
        .px-xl-#{$i} {
            padding-left: #{$i}px !important;
            padding-right: #{$i}px !important;
        }
        .py-xl-#{$i} {
            padding-top: #{$i}px !important;
            padding-bottom: #{$i}px !important;
        }
        .pt-xl-#{$i} {
            padding-top: #{$i}px !important;
        }
        .pr-xl-#{$i} {
            padding-right: #{$i}px !important;
        }
        .pb-xl-#{$i} {
            padding-bottom: #{$i}px !important;
        }
        .pl-xl-#{$i} {
            padding-left: #{$i}px !important;
        }
    }
}

/* Margin */
@for $i from 0 through 1000 {
    .m-#{$i} {
        margin: #{$i}px;
    }
    .mx-#{$i} {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
    }
    .my-#{$i} {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
    }
    .mt-#{$i} {
        margin-top: #{$i}px;
    }
    .mr-#{$i} {
        margin-right: #{$i}px;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }
    .ml-#{$i} {
        margin-left: #{$i}px;
    }
}

// Small
@for $i from 0 through 1000 {
    @media #{$small} {
        .m-sm-#{$i} {
            margin: #{$i}px !important;
        }
        .mx-sm-#{$i} {
            margin-left: #{$i}px !important;
            margin-right: #{$i}px !important;
        }
        .my-sm-#{$i} {
            margin-top: #{$i}px !important;
            margin-bottom: #{$i}px !important;
        }
        .mt-sm-#{$i} {
            margin-top: #{$i}px !important;
        }
        .mr-sm-#{$i} {
            margin-right: #{$i}px !important;
        }
        .mb-sm-#{$i} {
            margin-bottom: #{$i}px !important;
        }
        .ml-sm-#{$i} {
            margin-left: #{$i}px !important;
        }
    }
}
// Medium
@for $i from 0 through 1000 {
    @media #{$medium} {
        .m-md-#{$i} {
            margin: #{$i}px !important;
        }
        .mx-md-#{$i} {
            margin-left: #{$i}px !important;
            margin-right: #{$i}px !important;
        }
        .my-md-#{$i} {
            margin-top: #{$i}px !important;
            margin-bottom: #{$i}px !important;
        }
        .mt-md-#{$i} {
            margin-top: #{$i}px !important;
        }
        .mr-md-#{$i} {
            margin-right: #{$i}px !important;
        }
        .mb-md-#{$i} {
            margin-bottom: #{$i}px !important;
        }
        .ml-md-#{$i} {
            margin-left: #{$i}px !important;
        }
    }
}
// Large
@for $i from 0 through 1000 {
    @media #{$large} {
        .m-lg-#{$i} {
            margin: #{$i}px !important;
        }
        .mx-lg-#{$i} {
            margin-left: #{$i}px !important;
            margin-right: #{$i}px !important;
        }
        .my-lg-#{$i} {
            margin-top: #{$i}px !important;
            margin-bottom: #{$i}px !important;
        }
        .mt-lg-#{$i} {
            margin-top: #{$i}px !important;
        }
        .mr-lg-#{$i} {
            margin-right: #{$i}px !important;
        }
        .mb-lg-#{$i} {
            margin-bottom: #{$i}px !important;
        }
        .ml-lg-#{$i} {
            margin-left: #{$i}px !important;
        }
    }
}
// Xlarge
@for $i from 0 through 1000 {
    @media #{$xlarge} {
        .m-xl-#{$i} {
            margin: #{$i}px !important;
        }
        .mx-xl-#{$i} {
            margin-left: #{$i}px !important;
            margin-right: #{$i}px !important;
        }
        .my-xl-#{$i} {
            margin-top: #{$i}px !important;
            margin-bottom: #{$i}px !important;
        }
        .mt-xl-#{$i} {
            margin-top: #{$i}px !important;
        }
        .mr-xl-#{$i} {
            margin-right: #{$i}px !important;
        }
        .mb-xl-#{$i} {
            margin-bottom: #{$i}px !important;
        }
        .ml-xl-#{$i} {
            margin-left: #{$i}px !important;
        }
    }
}
